body {
    background: black;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 350px;
    margin: auto;
}

.post-element {
    margin-top: 30px;
    background: white;
}
/* PROFILE START */
.profile {
    display: flex;
    width: 80%;
    padding: 10px 0px 10px 5px;
}
.profile-img {
    border-radius: 50%;
    padding: 5px;
}
.profile span {
    margin: 5px;
}
.profile span:last-child {
    margin: 5px;
}
/* PROFILE END */

/* POINT BUTTON START */
.pointbtn {
    display: inline-block;
    width: 18%;
    margin-top: 10px;
    margin-left: 225px;
    /* text-align: right; */
    /* position: absolute; */
    /* right: 800px; */
    /* top: 45px; */
}
.pointbtn img {
    display: inline-block;
    width: 18%;
    margin: 0px;
    text-align: right;
}

/* POINT BUTTON END */

.photo img {
    width: 100%;
}

/* ICONS START */

.icons {
    margin: 10px 10px 10px 10px;
}

i:last-child {
    float: right;
}
/* ICONS END */

.likes {
    margin: 0px 10px 0px 10px;
}

.caption-photo {
    background: white;
    padding: 0px 10px 10px 10px;
}
